.banner {
  .hero-welcome {
    background-color: $primary-color;
    padding: 2em;
    h2 {
      color: #ffffff;
      border-bottom: 0px;
      padding-bottom: 0px;
      font-size: 2.5em;
    }

    p {
      color: #ffffff;
      font-size: 1.5em;
    }

    a {
      text-transform: uppercase;
      border: 1px solid #ffffff;
      border-radius: 2em;
      padding: 1em;
      color: #ffffff;

      &:hover {
        text-decoration: none;
      }
    }
  }
}

.hero-focus-areas {
  .views-row-first {
    margin-top: -1.5em
  }
  .focus-item {
    height: 100%;
    div {
      background-color: #eee;

      a {
        color: $primary-color;

        &:hover {
          text-decoration: none;
        }
      }

      .topic-icon {
        a {
          text-align: center;
          display: block;

          .font-icon-select-1 {
            font-size: 6em;
          }
        }
      }

      .topic-name {
        a {
          text-align: center;
          display: block;
          padding-bottom: 0.5em;
        }
      }
    }
  }
}
