.news {
  h2.pane-title {
    border-bottom: 0px;
    color: $primary-color;
    font-weight: 700;
  }

  .pane-content {
    .views-row.news-item {

      .fields-container {
        background-color: $primary-color;
        min-height: 450px;
      }

      .views-field-title {
        padding: 0 1em;

        h2 {
          a {
            color: #ffffff;
          }
        }
      }

      .views-field-body {
        padding: 1em;
        .field-content {
          p {
            color: #ffffff;
          }
        }
      }

      .views-field-view-node {
        .field-content {
          padding: 1em;
          a {
            @include link-button;
          }
        }
      }
    }

    .more-link {
      top: 2em;
      position: relative;
      left: -1em;

      a {
        @include link-button;
        background-color: $primary-color;
      }
    }
  }
}

.notifications {
  margin: 2em 0;
  padding: 2em 0;
  background-color: $primary-color;

  h2.pane-title {
    color: #ffffff;
    border-bottom: 0px;
  }

  .view-content {
    .views-field-title,
    .views-field-nothing {
      a {
        color: #ffffff;
      }
    }
    .views-field-field-application-period {
      color: #ffffff;
    }
  }
}
