.news {
  h2.pane-title {
    border-bottom: 0px;
    color: $primary-color;
    font-weight: 700;
  }

  .pane-content {
    .views-row.news-item {

      .fields-container {
        background-color: $primary-color;
        min-height: 450px;
      }

      a.more-link {
        @include link-button;
      }

      .views-field-title {
        padding: 0 1em;

        h2 {
          a {
            color: #ffffff;
          }
        }
      }

      .views-field-body {
        padding: 1em;
        .field-content {
          p {
            color: #ffffff;
          }
        }
      }

      .views-field-view-node {
        .field-content {
          padding: 1em;
          a {
            @include link-button;
          }
        }
      }
    }
  }
}
