// Page Layout
// -----------------------------------------------------------------------------

.top-menu {

  h2.pane-title {
    display: none;
  }

  .top-dd-menu {
    .menu-level-1 {
      .menu.nav {
        float: right;
        background-color: $primary-color;
        padding: 0.15em 1em;
        margin-bottom: 1em;
        overflow: visible;

        li.expanded {
          ul.nav-stacked   {
            display: none;
          }
        }

        a {
          color: #ffffff;
          font-size: 1.15em;

          .caret {
            color: $primary-color;
            margin-left: 0.5em;
          }

          &:hover {
            background-color: #ffffff;
            border-radius: 0;
            color: $primary-color;
          }
        }
      }
    }


    .nav-stacked>li,
    .nav-pills>li {
      float: left;
    }
  }
}
