// Page Layout
// -----------------------------------------------------------------------------

.top-menu {
  padding-right: 0em;

  .navbar-default {
    background-color: $primary-color;
    border-color: $primary-color;

    // .navbar-default .navbar-nav>li>a
    .navbar-nav>li>a {
      color: #ffffff;
    }

    a {
      font-size: 1.15em;
    }
  }

  .navbar {
    border-radius: 0px;

    ul.menu {
      float: right;
    }

    .dropdown-menu {
      background-color: $primary-color;

      // .dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus
      li > a {
        &:hover,
        &:focus {
          background-color: #ffffff;
          color: $primary-color;
        }
      }
    }
  }
}
