/* =========== MS: Expert search page ============*/
/* =========== MS: Exposed filters ============*/
.view-individuals.view-display-id-panel_pane_2 {
    padding-left: 15px;
    padding-right: 15px
}
.view-individuals.view-display-id-panel_pane_2 .views-exposed-widget:not(.views-submit-button):not(.views-reset-button) {
    padding-right: 1em;
    padding-top: 1em;
}
@media (max-width: 960px) {
    .view-individuals.view-display-id-panel_pane_2 .views-exposed-widget.views-submit-button {
        padding-top: 1em;
        clear: left
    }
    .view-individuals.view-display-id-panel_pane_2 .views-exposed-widget.views-reset-button {
        padding-top: 1em;
    }
}
.view-individuals.view-display-id-panel_pane_2 .views-exposed-widget.views-widget-filter-combine {
    clear: left
}
/* =========== MS: Page display content ============*/
.user-display .view-content {
    display: Flex;
    flex-wrap: wrap
}
.user-display .view-content > h3 {
    /* Grouping titles*/

    clear: both;
    float: none;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
}
.user-display .views-row {
    flex-direction: column;
    padding-top: 1em;
    padding-bottom: 1em;
    margin-top: 6px;
    border-left: 6px solid white;
    background: #c2e0e0
}
.user-display .views-row .views-field {
    font-size: 15px;
    line-height: 1.25em;
    margin-bottom: 0.15em
}
.user-display .views-row .views-field-picture {
    height: 90px;
    width: 90px;
    margin: 0 0 1em 0;
}
@media (min-width: 600px) {
    .user-display .views-row .views-field-picture {
        float: right;
        margin: 0 0 0 1em;
    }
}
.user-display .text-center {
    clear: both;
    padding-top: 20px;
}
.user-display .pagination.pager {
    display: block;
    padding-top: 20px;
}
@media (max-width: 480px) {
    .user-display .view-content {
        display: block;
        flex-wrap: nowrap
    }
    .user-display .views-row {
        clear: both;
        float: none;
        width: 100%
    }
}

/* =========== MS: User profile page ============ */
/* --- Tabs ---- */
.profile .horizontal-tabs ul.horizontal-tabs-list {
    display: block;
    background: #FFF;
    border: none;
}
.profile .horizontal-tabs ul.horizontal-tabs-list li {
    background: #84c2c1;
    border-right: 2px solid #FFF;
    border-bottom: 2px solid #FFF;
    min-width: inherit;
}
.profile .horizontal-tabs ul.horizontal-tabs-list li:not(.selected):hover,
.profile .horizontal-tabs ul.horizontal-tabs-list li:not(.selected):focus,
.profile .horizontal-tabs ul.horizontal-tabs-list li:not(.selected) a:hover,
.profile .horizontal-tabs ul.horizontal-tabs-list li:not(.selected) a:focus {
    color: #000;
    background: #84c2c1;
}
.profile .horizontal-tabs ul.horizontal-tabs-list li.selected {
    padding-bottom: 1px;
}
.profile .horizontal-tabs ul.horizontal-tabs-list li.selected a {} .profile .horizontal-tabs ul.horizontal-tabs-list li.selected,
.profile .horizontal-tabs ul.horizontal-tabs-list li.selected:hover,
.profile .horizontal-tabs ul.horizontal-tabs-list li.selected a:hover {
    background: #c2e0e0;
    border-bottom-color: #c2e0e0
}
/* --- Fieldsets ---- */
.profile fieldset {
    border: none;
    clear: both
}
.profile .field {
    clear: left;
    margin: 0 0 0.5em 0;
    /*/background: #BADA55;/*/
}
.profile .panel-heading,
.profile .panel {
    border-radius: 0
}
.profile .panel .panel-heading,
.profile .panel .panel .panel-body {
    padding: 10px 15px
}
.profile fieldset:not(.group-contact)>.panel-body.fieldset-wrapper {
    background: #c2e0e0;
    border-radius: 0;
    border: none;
    margin: 0 -2px;
}
.profile fieldset:not(.group-contact)>.panel-body.fieldset-wrapper:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.profile .group-user-about .user-picture {
    width: 200px;
    height: auto;
    float: right;
    margin: 0;
}
.profile .view-user-account-profile-page {
    clear: left
}
@media (max-width: 1080px) and (min-width: 600px) {
    .profile .group-user-about .user-picture {
        width: 150px;
        height: auto;
        max-width: 30%;
    }
    .profile .group-user-about dl {
        max-width: 63%
    }
}
@media (max-width: 609px) {
    .profile .group-user-about .user-picture {
        clear: both;
        float: none;
        margin-bottom: 1em;
    }
}
.profile h3 {
    font-size: 18px;
    margin: 0 0 0.5em 0;
    border: none
}
.profile .group-user-about dl {
    float: left;
    clear: left;
    margin: 0 0 1em 0;
}
.profile fieldset.group-contact .fieldset-title {
    color: #098380;
    font-weight: bold;
    text-decoration: none
}
.profile fieldset.group-contact .fieldset-title:hover {
    color: #3B3B3B;
}

/* --- filters for community of practice page (node 16492)--- */
#views-exposed-form-community-practice-profiles-panel-pane-1 .views-widget-filter-field_policy_support_type .form-type-bef-checkbox {
    display: inline-block;
    padding-right: 0.66em;
  }
#views-exposed-form-community-practice-profiles-panel-pane-1 .panel-default>.panel-heading {
    font-size: 14px;
  }
#views-exposed-form-community-practice-profiles-panel-pane-1 .panel {
    margin-bottom: 5px;
  }
#views-exposed-form-community-practice-profiles-panel-pane-1 .bef-select-as-checkboxes-fieldset .panel-body {
    padding: 5px
}
#views-exposed-form-community-practice-profiles-panel-pane-1 .views-exposed-form .bef-checkboxes * {
    font-weight: normal;
    font-size: 13px;
  }
#views-exposed-form-community-practice-profiles-panel-pane-1 .views-widget-filter-combine   {
    clear: both;
    width: 85%;
    padding: 0em 1em 0 0;
  }
#views-exposed-form-community-practice-profiles-panel-pane-1 .views-exposed-widgets {
    position: relative;
  }
#views-exposed-form-community-practice-profiles-panel-pane-1 .views-submit-button,
#views-exposed-form-community-practice-profiles-panel-pane-1 .views-reset-button {
    padding-top: 0;
    position: absolute;
    top: 1.66em; /* Tip: Set to 0 when there's no search box label */
    left: 85%;
  }
#views-exposed-form-community-practice-profiles-panel-pane-1 .views-reset-button {
    left: 90%;
  }
@media (min-width: 990px) {
    #views-exposed-form-community-practice-profiles-panel-pane-1 .views-widget-filter-field_sub_region_tid {
        width: 26%;
    }
    #views-exposed-form-community-practice-profiles-panel-pane-1 .views-widget-filter-field_category_policy_instrument_tid {
        width: 33%;
    }
    #views-exposed-form-community-practice-profiles-panel-pane-1 .views-widget-filter-field_pstm_family_tid {
        width: 40%;
    }
}
@media (max-width: 990px) {
    #views-exposed-form-community-practice-profiles-panel-pane-1 .views-widget-filter-field_sub_region_tid,
    #views-exposed-form-community-practice-profiles-panel-pane-1 .views-widget-filter-field_category_policy_instrument_tid,
    #views-exposed-form-community-practice-profiles-panel-pane-1 .views-widget-filter-field_pstm_family_tid {
        width: 100%;
    }
    #views-exposed-form-community-practice-profiles-panel-pane-1 .views-widget-filter-combine {
        width: 80%
    }
    #views-exposed-form-community-practice-profiles-panel-pane-1 .views-submit-button {
        left: 81%
    }
    #views-exposed-form-community-practice-profiles-panel-pane-1 .views-reset-button {
        left: 90%
    }
}
@media (max-width: 600px) {
    #views-exposed-form-community-practice-profiles-panel-pane-1 .views-widget-filter-combine {
        width: 70%
    }
    #views-exposed-form-community-practice-profiles-panel-pane-1 .views-submit-button {
        left: 71%
    }
    #views-exposed-form-community-practice-profiles-panel-pane-1 .views-reset-button {
        left: auto;
        right: 0;
    }
}
.view-community-practice-profiles .views-field-field-tools-and-instruments-eva {
    clear: both;
    padding-top: 6px
}
/* =========== MS: Send message link on expert and profiles ============ */
.views-field-privatemsg-link a,
.views-field-privatemsg-link a:visited {
    background-color: #676C5F;
    border: 1px solid #676C5F;
    color: #ffffff!important;
    display: inline-block;
    padding: 5px 12px;
    line-height: 1.2em;
    border-radius: 4px;
    text-decoration: none!important;
}
.views-field-privatemsg-link a:active,
.views-field-privatemsg-link a:hover {
    background: #A4AD5F;
    border: 1px solid #A4AD5F;
    color: #ffffff!important;
    text-decoration: none!important
}

.views-field-privatemsg-link {
    padding: 15px 0;
}
.view-community-practice-profiles .views-field-privatemsg-link {
    padding: 5px 0;
}
