/* =========== BA: Table column widths ============ */
.fix-width-5 {
width: 5%;
}
.fix-width-10 {
width: 10%;
}
.fix-width-20 {
width: 20%;
}
.fix-width-30 {
width: 30%;
}
.fix-width-40 {
width: 40%;
}
.fix-width-50 {
width: 50%;
}
