// Mixins
// -----------------------------------------------------------------------------


@mixin link-button {
  text-transform: uppercase;
  border: 1px solid #ffffff;
  border-radius: 2em;
  padding: 1em;
  color: #ffffff;

  &:hover {
    text-decoration: none;
  }
}

@mixin media-breakpoint-down($point) {
  @if $point == medium {
    @media (max-width: 576px) { @content; }
  }
  @else if $point == tablet {
    @media (max-width: 991.98px) { @content; }
  }
}
